<div class="log-page">
  <div class="container ">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-sm-offset-4 m-auto">
        <div class="log">
          <h2>Connecte-toi ici !</h2>

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
            <div class="form-inputs">
              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>
              <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            </div>

            <div class="form-actions">
              <%= f.button :submit, "Je me connecte", class:"btn btn-devise" %>
            </div>
          <% end %>

          <small><%= render "devise/shared/links" %></small>
        </div>
      </div>
    </div>
  </div>
</div>
