<h1>Organisation::Missions#index</h1>

<%@missions.each do |mission| %>
<h2><%= mission.title %></h2>
<small>Durée: <%= mission.duration %> • <%= mission.city %>• <%= mission.category %></small>
<p><%= truncate(mission.description, :length => 100)%></p>
<div>
<p><%= mission.date %></p>
</div>
<% end %>
