<div class="container my-3 mx-5">
  <div class="col-3">
    <div class="d-md-flex justify-content-between">
        <%= image_tag "avatarFemme.jpg", class: "avatar-show" %>
      <h1><%= current_user.firstname %></h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-9">
    <div class="images">
    <%=image_tag('banner2.jpg')%>
    </div>
    <div class="mb-3">
      <h2><%= @mission.title %></h2>
      <small class="text-muted">Durée: <%= @mission.duration%> h • <%=@mission.city %> • <%= @mission.category %></small>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-10">
    <div class="d-md-flex justify-content-between">
      <div class="mb-3">
        <p class="m-0"><u>Date: </u><%= @mission.date %></p>
        <p class="m-0"><u>Heure: </u>??</p>
        <p><u>Lieu de rendez-vous: </u><%= @mission.address %></p>
        <p><%= @mission.description%></p>
      </div>
      <div class="col-2">
        <a class="btn btn-ghost" href="#">Je participe !</a>
      </div>
    </div>
  </div>
</div>
