<% if current_user.organisme == false %>
<div id="dashboard">
  <div class="container my-3 mx-5">
    <h1 class="text-center">MON TABLEAU DE BORD</h1>
    <div class="col-4">
      <div class="d-md-flex justify-content-evenly">
        <% if current_user.photo.key? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar-show" %>
        <% else %>
          <%= image_tag "avatarFemme.jpg", class: "avatar-show" %>
        <% end %>
        <h2>Salut <%= current_user.firstname %> !</h2>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="dashboard-body">
        <div class="mission-table">
          <% if current_user.futur_missions.first == nil %>
            <h3>MISSIONS À VENIR:</h3>
            <small class="text-muted font-weight-light">Aucune mission à venir</small>
            <% else %>
            <h3>MISSIONS À VENIR:</h3>
          <% end %>
          <% current_user.futur_missions.each do |mission| %>
          <div class="card-product">
            <% if current_user.photo.key? %>
              <%= cl_image_tag current_user.photo.key, height: 300, width: 400 %>
            <% else %>
              <img src="<%=image_path('default.jpg')%>" alt="background">
            <% end %>
            <div class="card-product-infos">
              <h2><%= mission.title.capitalize %></h2>
              <p><u>Date:</u> <%=mission.date %></p>
              <p><u>Heure:</u><%=mission.hour %></p>
              <p><u>Lieu de rendez-vous:</u> <%= mission.address%></p>
              <small>Pour annuler votre présence, merci de contacter directement l'organisme</small>
            </div>
          </div>
          <% end %>
          <% if current_user.past_missions.first == nil%>
            <% else %>
            <h3>MISSIONS PASSÉE:</h3>
          <% end %>
          <% current_user.past_missions.each do |mission| %>
          <div class="card-product opacity-50">
            <% if mission.photos&.first&.key? %>
              <%= cl_image_tag mission.photos.first.key, height: 300, width: 400 %>
            <% else %>
              <img src="<%=image_path('default.jpg')%>" alt="background">
            <% end %>
            <div class="card-product-infos">
              <h2><%= mission.title.capitalize %></h2>
              <p><u>Date:</u> <%=mission.date %></p>
              <p><u>Heure du rendez-vous:</u> <%= mission.hour %></p>
              <p><u>Lieu de rendez-vous:</u> <%= mission.address%></p>
              <small>Pour annuler votre présence, merci de contacter directement l'organisme</small>
            </div>
          </div>
          <% end %>
        </div>
        <div class="score-table">
          <h3 class= "text-center">MON ACTIVITÉ</h3>
          <div id="score">
            <em>Mon score actuel:</em>
            <p><%= current_user.total_score %></p>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-success progress-bar-animated"
              role="progressbar"
              aria-valuenow=<% current_user.total_score %> aria-valuemin="0" aria-valuemax="100"
              style="width: <% current_user.total_score %>%;">
                <%= number_to_percentage(current_user.total_score, precision: 0) %>
            </div>
          </div>
          <div id="score-calculation">
          <% if current_user.total_score > 1%>
            <p>Bravo <%= current_user.firstname %>, <br> Continue ton engagement! Plus que <em><%= 100 - (current_user.total_score) %> points </em>avant ton prochain badge !</p>
          <% end %>
          </div>

          <div class="badge-table">
          <% if current_user.total_score > 1%>
            <div class="badge" data-controller="badge" data-badge-target="badge" data-action="mousemove->badge#mousemove">
            <%=render "shared/badges"%>
            </div>
          <% else %>
          <h4>Tu n'as pas encore de badge!</h4>
          <p>Réalise ta première mission pour obtenir ton 1er badge 😍</p>
          <% end %>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
