<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path('banner.jpg')%>);">
  <div class="container-index">
    <div class="container-form">
  <%= form_with url: organisation_missions_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control-city"
    placeholder: "Séléctionne ta ville"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
    </div>
    <%# <h1>StandUpForLife </h1>  %>
    <h1><span> Stand Up For LIFE </h1></span>
    <%# <div> %>
    <p> "Il ne peut y avoir de plus grand don que celui de donner son temps et son énergie pour aider les autres sans rien attendre en retour" <small> <em>Nelson Mandela</em> </small>
  <%# <%= link_to " ⏎ Back", root_path, class: "btn btn-ghost-white", style: "color: white; border: 1px solid white;" %>
  </div>
</div>

<div class="container">
  <div class="cards-mission">
      <% @missions.each do |mission| %>
        <div class="zoom">
          <%= link_to mission_path(mission) do %>
            <div class="card-mission m-3 ">
              <% if mission.photos&.first&.key? %>
                <%= cl_image_tag mission.photos.first.key, height: 300, width: 400 %>
                <% else %>
                  <img src="<%=image_path('default.jpg')%>" alt="background">
                <% end %>
              <div class="card-mission-infos">
                <h3><%= mission.title %></h3>
                  <div class="mb-3">
                  <small class="text-muted"> Durée: <%= mission.duration %> h • <%= mission.category.capitalize %></small>
                  </div>
                <div class="card-mission-infos-location">
                  <div>
                    <p class="small"><u> Date: </u><%= mission.date %></p>
                    <p class="small"><u> Heure: </u><%= mission.hour %></p>
                  </div>
                  <small class="card-mission-location"> 📍 <%=mission.city.capitalize%></small>
                </div>
                  <p><%= truncate(mission.description, :length => 100)%></p>
                </div>
              </div>
        <% end %>
          </div>
      <% end %>
  </div>
</div>
