<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=image_path('banner.jpg')%>);">
  <div class="container-index">

    <%# <h1>StandUpForLife </h1>  %>
    <h1><span> Stand Up For LIFE </h1></span>
    <%# <div> %>
    <p> "Il ne peut y avoir de plus grand don que celui de donner son temps et son énergie pour aider les autres sans rien attendre en retour" <small> <em>Nelson Mandela</em> </small>
    <div class="container-form">
      <%= simple_form_for(:search, url: root_path, html: { method: :get }) do |f| %>
        <%= f.input :city, class: "form-control",
        input_html: {data: {address_autocomplete_target: "address"}},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
        :label => "Ville" %>
        <%= f.input :category,:label => "Catégorie", as: :select, collection: ["humanitaire 🙏🏻", "environnement 🌱", "animaux 🐶"]  %>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.submit "Rechercher", class: "btn btn-ghost-white"%>
      <% end %>
    </div>
  <%# <%= link_to " ⏎ Back", root_path, class: "btn btn-ghost-white", style: "color: white; border: 1px solid white;" %>
  </div>
</div>

<div>
  <div class="body-index">
    <div class="cards-mission col-md-7">
      <% @missions.each do |mission| %>
        <div class="zoom">
            <div class="card-mission m-3 ">
              <div id="<%="carousel-mission-#{mission.id}"%>" class="carousel slide" data-bs-ride="false">

                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <% if mission.photos&.first&.key? %>
                        <%= cl_image_tag mission.photos.first.key, class: "d-block w-100" %>
                      <% else %>
                        <img src="<%=image_path('default.jpg')%>" alt="background", class="d-block w-100" >
                      <% end %>
                    </div>
                    <% mission.photos.drop(1).each do |photo|%>
                      <div class="carousel-item">
                        <%= cl_image_tag photo.key, class: "d-block w-100" %>
                      </div>
                    <% end %>
                  </div>
                  <button class="carousel-control-prev" type="button" data-bs-target="#<%="carousel-mission-#{mission.id}"%>" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                  </button>
                  <button class="carousel-control-next" type="button" data-bs-target="#<%="carousel-mission-#{mission.id}"%>" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                  </button>

              </div>
              <%= link_to mission_path(mission) do %>
              <div class="card-mission-infos">
                <h3><%= mission.title %></h3>
                <div class="mb-3">
                  <small class="text-muted"> Durée: <%= mission.duration %> h • <%= mission.category.capitalize %></small>
                </div>
                <div class="card-mission-infos-location">
                  <div>
                    <p class="small"><u>Date</u>:  <%= mission.date.strftime('%d/%m/%Y') %></p>
                    <p class="small"><u>Heure</u>:  <%= mission.hour %> h</p>
                  </div>
                  <small class="card-mission-location"> 📍 <%=mission.city.capitalize%></small>
                </div>
                  <p><%= truncate(mission.description, :length => 100)%>Voir plus</p>
                </div>
              </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="geo sticky-top"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
